*,
*:after,
*:before {
    box-sizing: border-box;
    min-width: 0;
}

:root {
    --bg-clr: #242836;
    --text-clr: #f5f9ff;
    --primary-clr: #275efe;
    --secondary-clr: #1c212e;
    --success-clr: #4caf50;
    --error-clr: #ff5252;
    color-scheme: dark;

    --radius: 0.3rem;
}

html,
html:focus-within {
    scroll-behavior: smooth;
    text-size-adjust: none;
}
body {
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,
body {
    height: 100%;
    max-width: 100%;
    color: var(--text-clr);
    background-color: var(--bg-clr);
    font-family: sans-serif;
    line-height: 1.4;
    overflow: clip;
}
input,
button,
select,
textarea {
    font: inherit;
}
strong {
    color: var(--primary-clr);
    font-weight: 700;
    margin: 0.1rem;
    text-decoration: underline;
}
button,
.button {
    width: min-content;
    max-width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    appearance: button;
    padding: 0.6em 1.2em;
    user-select: none;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    text-transform: capitalize;
    border-radius: var(--radius);
    border: none;
    box-shadow: 0 2px 8px -1px rgba(10, 22, 50, 0.24);
}
.btn-primary {
    color: var(--text-clr);
    background-color: var(--primary-clr);
}
.btn-secondary {
    color: var(--text-clr);
    background-color: var(--secondary-clr);
}
:where(button, .button):hover {
    opacity: 0.8;
}
:where(button, .button, input[type="file"]):focus-visible {
    opacity: 0.8;
    outline-style: solid;
    outline-width: 0.1em;
    outline-offset: 0.3em;
    outline-color: var(--primary-clr);
}
input[type="text"] {
    padding: var(--gap);
    background-color: transparent;
    border-radius: var(--radius);
    border: 3px solid var(--secondary-clr);
}
h1,
h2,
p,
span {
    color: var(--text-clr);
    text-wrap: balance;
}
img,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
    user-select: none;
    object-fit: cover;
    object-position: center;
    box-shadow: none;
    pointer-events: none;
    isolation: isolate;
}
svg {
    fill: var(--text-clr);
    width: 3rem;
    height: 3rem;
}
main#waterMark {
    width: 100%;
    height: 100svh;
}
#image-upload {
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.uploader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.6em;
    padding: 1rem;
    border-radius: var(--radius);
    border: 2px dashed var(--secondary-clr);
    position: relative;
    overflow: hidden;
}
.uploader:has(canvas) {
    border: none;
}
.uploader:not(:has(canvas)):hover {
    border: 2px dashed var(--primary-clr);
}

input#file-uploader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    isolation: isolate;
    cursor: pointer;
}
.uploader span {
    display: block;
    text-align: center;
}

.uploader canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    isolation: isolate;
    background-color: var(--bg-clr);
    border-radius: var(--radius);
}

footer {
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    padding: var(--gap) 0;
}
input#waterMark-text {
    width: 80%;
    height: 95%;
}
a#download-button {
    width: 20%;
    height: 100%;
}
#download-button[data-active="false"] {
    cursor: not-allowed;
    filter: grayscale(0.3);
    opacity: 0.8;
}

#waterMark-settings {
    width: 50%;
    height: 100%;
}

.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
.old-script,
.no-script {
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: fixed;
    padding: 1rem;
    text-align: center;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
}
/* @media (prefers-color-scheme: light) {
    :root,
    body,
    html {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
} */
