*,
*:after,
*:before {
    box-sizing: border-box;
    min-width: 0;
}

:root {
    --bg-clr: #242836;
    --text-clr: #f5f9ff;
    --primary-clr: #275efe;
    --secondary-clr: #1c212e;
    --success-clr: #4caf50;
    --error-clr: #ff5252;
    color-scheme: dark;

    --bg-light-clr: #e4ecfa;

    --radius: 0.3rem;

    --white-space: 2rem;

    --header-height: 4rem;
}

.button.dark-single {
    --background: none;
    --rectangle: #242836;
    --success: #4bc793;
}
.button.white-single {
    --background: none;
    --rectangle: #f5f9ff;
    --arrow: #275efe;
    --success: #275efe;
    --shadow: rgba(10, 22, 50, 0.1);
}
.button.dark {
    --background: #242836;
    --rectangle: #1c212e;
    --arrow: #f5f9ff;
    --text: #f5f9ff;
    --success: #2f3545;
}

.button {
    --background: #275efe;
    --rectangle: #184fee;
    --success: #4672f1;
    --text: #fff;
    --arrow: #fff;
    --checkmark: #fff;
    --shadow: rgba(10, 22, 50, 0.24);
}

html,
html:focus-within {
    scroll-behavior: smooth;
    text-size-adjust: none;
}
body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html,
body {
    height: 100%;
    max-width: 100%;
    color: var(--text-clr);
    background-color: var(--bg-clr);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    overflow: clip;
}
input,
button,
select,
textarea {
    font: inherit;
}
::-moz-focus-inner {
    border: none;
}
strong {
    color: var(--primary-clr);
    font-weight: 700;
    margin: 0.1rem;
    text-decoration: underline;
}
button,
.button {
    width: min-content;
    max-width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    appearance: button;
    padding: 0.6em 1.2em;
    user-select: none;
    text-decoration: none;
    text-transform: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    /* text-transform: capitalize; */
    border-radius: var(--radius);
    border: none;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    box-shadow: 0 2px 8px -1px rgba(10, 22, 50, 0.24);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.btn-primary {
    color: var(--text-clr);
    background-color: var(--primary-clr);
}
.btn-secondary {
    color: var(--text-clr);
    background-color: var(--secondary-clr);
}
:where(button, .button):hover {
    opacity: 0.8;
}
:where(button, .button):active {
    transform: scale(0.95);
    box-shadow: 0 1px 4px -1px var(--shadow);
}

input[type="text"] {
    padding: var(--gap);
    background-color: transparent;
    border-radius: var(--radius);
    border: 3px solid var(--secondary-clr);
}
h1,
h2,
p,
span {
    color: var(--text-clr);
    text-wrap: balance;
}
img,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    font-weight: 800;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 0.75rem;
    user-select: none;
    object-fit: cover;
    object-position: center;
    box-shadow: none;
    pointer-events: none;
    isolation: isolate;
}
svg {
    --icon-size: 2rem;
    fill: var(--text-clr);
    width: var(--icon-size);
    height: var(--icon-size);
}
header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-clr);
    padding: 1px var(--white-space);
}
.logo a {
    display: flex;
    flex-direction: row;
    gap: 5px;
    color: var(--text-clr);
    text-decoration: none;
    opacity: 0.7;
}
.logo h1 {
    font-size: 1.2rem;
    margin: auto;
    font-weight: 500;
}

/* nav .button {
    position: relative;
} */

main#waterMark {
    width: 100%;
    height: calc(100svh - var(--header-height) * 2);
    display: flex;
    flex-direction: row;
}
#image-upload {
    width: 100%;
    height: 100%;
    padding: 1rem var(--white-space);
    display: flex;
    align-items: center;
    justify-content: center;
}
.uploader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.6em;
    padding: 1rem;
    border-radius: var(--radius);
    border: 2px dashed var(--secondary-clr);
    position: relative;
    overflow: hidden;
}
.uploader:has(canvas) {
    border: none;
}
.uploader:not(:has(canvas)):hover {
    border: 2px dashed var(--primary-clr);
}
input.file-uploader {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    isolation: isolate;
    cursor: pointer;
}
.uploader span {
    display: block;
    text-align: center;
}

.uploader canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    isolation: isolate;
    background-color: var(--bg-clr);
    border-radius: var(--radius);
}

input#waterMark-text {
    /* width: 80%;
    height: 95%; */
}
a#download-button {
    /* width: 20%;
    height: 100%; */
}
#download-button[data-active="false"] {
    cursor: not-allowed;
    filter: grayscale(0.3);
    opacity: 0.8;
}

#waterMark-settings {
    width: 200px;
    padding: 1rem;
    background-color: var(--secondary-clr);
    position: absolute;
    cursor: grab;
    overflow: hidden;
    border-radius: var(--radius);
    border: none;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    box-shadow: 0 2px 8px -1px rgba(10, 22, 50, 0.24);
}

footer {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-clr);
    padding: 1px var(--white-space);
}

.visually-hidden {
    position: absolute;
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}
@media screen and (max-width: 768px) {
    :root {
        --white-space: 1rem;
    }
    header {
        justify-content: centers;
    }
    nav {
        display: none;
    }
}
@supports not (height: 100svh) {
    main#waterMark {
        height: calc(100vh - var(--header-height));
    }
}
@supports not (overflow: clip) {
    html,
    body {
        overflow: hidden;
    }
}
@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
        animation-delay: -1ms !important;
        animation-duration: 1ms !important;
        animation-iteration-count: 1 !important;
        background-attachment: initial !important;
        scroll-behavior: auto !important;
        transition-delay: 0s !important;
        transition-duration: 0s !important;
    }
}
